$primary-color: #006B3E;
$background-color: #F9F9F9;

body{
    background-color: $background-color;
}

.primary-title {
    color: $primary-color;
    font-weight: 700;
    font-size: 32px;
}

.container{ 
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}