.uf-card {
    .ufinfo-container {
        padding: 16px;
        background-color: #fff;
        font-size: 24px;

        p {
            margin-top: 8px;
            margin-bottom: 24px;
        }

        .region-info {
            &__div {
                margin-top: 8px;

                span {
                    color: #006B3E;
                }
            }

            &__label {
                font-weight: 800;
            }
        }

        &__uf-name {
            font-size: 40px;
            font-weight: 800;
        }
    }
}