.info-card {
    .info-container {
        .region-info {
            &__div {
                margin-top: 8px;

                span {
                    color: #006B3E;
                }
            }

            &__label {
                font-weight: 800;
            }
        }

        &__uf-name {
            font-size: 40px;
            font-weight: 800;
        }
    }
}