.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px;

    .title-wrapper {
        &__username {
            font-weight: 600;
        }
        
        &__repository {
            font-size: 64px;
            font-weight: 600;
        }
        
        &__linkedin {
            font-size: 24px;
            margin-top: 8px;
        }
    }

    .ipam-logo {
        width: 160px;
        height: 160px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}